# ======================
# Python
# ======================
__pycache__/
*.pyc
asl_env/

# ======================
# Node / React
# ======================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ======================
# ML / Model files
# ======================
*.h5

# ======================
# Environment variables
# ======================
.env
*.env

# ======================
# Editor / OS
# ======================
.vscode/
.DS_Store
