# ======================
# Python
# ======================
__pycache__/
*.pyc
asl_env/

# ======================
# Node / React
# ======================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ======================
# ML / Model files
# ======================
*.h5
*.pt
# Ignore other models but keep deployed weights
*.onnx
*.joblib
!frontend/public/models/best.onnx
!backend/detection/svm.joblib
# ======================
# Environment variables
# ======================
.env
*.env

# ======================
# Editor / OS
# ======================
.vscode/
.DS_Store
